<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Flat Elements</title>
    <style>
      .toolbar {
        height: 64px;
        padding: 0 24px;
      }

      .toolbar-title {
        font-size: 20px;
        font-weight: 600;
      }

      .drawer-title {
        padding: 16px;
        border-bottom: 1px solid #e0e0e0;
        font-size: 20px;
        font-weight: 600;
      }

      .dialog {
        padding: 24px;
      }

      .container {
        display: grid;
        grid-template-columns: auto 1fr;
      }

      .nav {
        width: 240px;
        border-right: 1px solid #e0e0e0;
      }

      .nav-subheader {
        padding: 0 16px;
      }

      .main {
        padding: 24px;
      }

      .card {
        width: 33.33%;
        min-width: 280px;
        margin-top: 24px;
      }

      @media (max-width: 600px) {
        .container {
          grid-template-columns: 100%;
        }

        .nav {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div id='app'>
      <element-app></element-app>

      <element-toolbar class='toolbar background-primary'>
        <div class='icon color-white cursor-pointer hide-on-small-and-upper place-before' slot='primary' @click='$refs.drawer.toggle()'>menu</div>
        <div class='toolbar-title color-white' slot='primary'>Flat Elements</div>
        <div class='icon color-white cursor-pointer place-before' slot='secondary' @click='$refs.dialog.toggle()'>print</div>
        <element-dropdown right slot='secondary'>
          <div class='icon color-white cursor-pointer' slot='toggle'>more_vert</div>
          <ul class='list' slot='content'>
            <li class='listbox'><span class='icon place-before'>share</span>Share</li>
            <li class='listbox'><span class='icon place-before'>edit</span>Rename</li>
            <hr>
            <li class='listbox'><span class='icon place-before'>report</span>Report abuse</li>
          </ul>
        </element-dropdown>
      </element-toolbar>

      <element-drawer ref='drawer'>
        <div class='drawer-title'>Flat Elements</div>
        <ul class='list'>
          <li class='listbox'><span class='icon place-before'>inbox</span>Inbox</li>
          <li class='listbox'><span class='icon place-before'>snooze</span>Snoozed</li>
          <li class='listbox'><span class='icon place-before'>done</span>Done</li>
        </ul>
      </element-drawer>

      <element-dialog ref='dialog'>
        <div class='dialog'>
          <h2 class='pull-top'>Save as PDF</h2>
          <div class='row'>
            <div class='column column--half'>Total</div>
            <div class='column column--half align-right'>2 pages</div>
          </div>
          <div class='row'>
            <div class='column column--one-quarter'>Pages</div>
            <div class='column column--three-quarters align-right'>
              <element-radio label='All' radio='all' v-model='radio'></element-radio>
              <element-radio class='place-after' label='First page' radio='page' v-model='radio'></element-radio>
            </div>
          </div>
          <div class='place-below'>
            <element-checkbox label='Include headers and footers' v-model='checkbox'></element-checkbox>
          </div>
          <div class='align-right place-below'>
            <div class='button button--flat' @click='$refs.dialog.toggle()'>Cancel</div>
            <div class='button'>Save</div>
          </div>
        </div>
      </element-dialog>

      <div class='container'>
        <nav class='nav'>
          <ul class='list'>
            <li class='listbox'><span class='icon place-before'>inbox</span>Inbox</li>
            <li class='listbox'><span class='icon place-before'>snooze</span>Snoozed</li>
            <li class='listbox'><span class='icon place-before'>done</span>Done</li>
          </ul>
          <element-collapse collapsed>
            <div class='nav-subheader flex-container' slot='toggle'>
              <span class='icon place-before'>more_horiz</span>
              <span class='flex-auto'>More</span>
              <span class='icon'>arrow_drop_down</span>
            </div>
            <ul class='list' slot='content'>
              <li class='listbox'><span class='icon place-before'>drafts</span>Drafts</li>
              <li class='listbox'><span class='icon place-before'>send</span>Sent</li>
              <li class='listbox'><span class='icon place-before'>notifications</span>Reminders</li>
              <li class='listbox'><span class='icon place-before'>delete</span>Trash</li>
              <li class='listbox'><span class='icon place-before'>report</span>Spam </li>
              <li class='listbox'><span class='icon place-before'>contacts</span>Contacts</li>
            </ul>
          </element-collapse>
        </nav>

        <main class='main'>
          <h1>Profile</h1>
          <form @submit='submit'>
            <div class='row row--upper-small'>
              <element-textfield class='column column--three-quarters' type='text' label='Full Name' v-model='form.fullname'></element-textfield>
              <element-select class='column column--one-quarter' label='Gender' v-model='form.gender'
                :options='[{ label: "Male", value: "male" }, { label: "Female", value: "female" }]'>
              </element-select>
            </div>
            <div class='row row--upper-small'>
              <element-datepicker class='column column--one-quarter' label='Date of Birth' v-model='form.dateOfBirth'></element-datepicker>
              <element-textfield class='column column--three-quarters' type='email' label='Email' v-model='form.email'></element-textfield>
            </div>
            <div class='row'>
              <element-textarea class='column' label='About Me' v-model='form.aboutme'></element-textarea>
            </div>
            <div class='align-right place-below'>
              <button class='button'>Update</button>
            </div>
          </form>
          <h1 class='pull-bottom'>People</h1>
          <div class='align-right place-above'>
            <span class='icon cursor-pointer' @click='$refs.tabs.select("card")'>view_module</span>
            <span class='icon cursor-pointer place-after' @click='$refs.tabs.select("table")'>view_list</span>
          </div>
          <element-tabs selected='card' ref='tabs'>
            <element-tab name='card'>
              <div class='flex-container flex-wrap'>
                <div class='card' v-for='person in people'>
                  <div>{{ person.firstName }} {{ person.lastName }}, {{ person.age }}</div>
                  <div class='color-secondary-text'>{{ person.email }}</div>
                </div>
              </div>
            </element-tab>
            <element-tab name='table'>
              <div class='overflow-auto'>
                <table class='table'>
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th class='align-right'>Age</th>
                    </tr>
                  </head>
                  <tbody>
                    <tr v-for='person in people'>
                      <td>{{ person.email }}</td>
                      <td>{{ person.firstName }}</td>
                      <td>{{ person.lastName }}</td>
                      <td class='align-right'>{{ person.age }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </element-tab>
          </element-tabs>
        </main>
      </div>

      <element-toast :duration='5000' ref='toast'></element-toast>
    </div>
    <script src='https://unpkg.com/vue'></script>
    <script src='flat-elements.js'></script>
    <script src='index.js'></script>
  </body>
</html>
