.row {
  display: flex;
  flex-flow: row nowrap;
}

@media (max-width: $breakpoint-small) {
  .row--upper-small {
    flex-wrap: wrap;
  }
}

@media (max-width: $breakpoint-xsmall) {
  .row--upper-xsmall {
    flex-wrap: wrap;
  }
}
