@mixin calendar-table {
  @include text-caption;
  width: 280px;
  min-height: 210px;
  text-align: center;
  border-collapse: collapse;
}

@mixin calendar-th {
  width: 40px;
  height: 40px;
  padding: 0;
  color: $color-secondary-text;
}

@mixin calendar-td {
  @include transition-normal(background-color);
  height: 40px;
  padding: 0;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $color-darker;
  }

  &.today {
    color: $color-primary;
  }

  &.selected {
    color: $color-white;
    background-color: $color-primary;
  }

  &.disabled {
    visibility: hidden;
  }
}
