@mixin dropdown-content {
  @include transition-normal(transform);
  position: absolute;
  top: 0;
  z-index: $elevation-menu;
  background-color: $color-white;
  transform: scale(0);
  transform-origin: top left;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 $color-darker;
  overflow-y: auto;
  pointer-events: none;
  will-change: transform;

  &.right {
    right: 0;
    transform-origin: top right;
  }

  &.visible {
    transform: scale(1);
    pointer-events: all;
  }
}

@mixin dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $elevation-menu - 1;
}
