@mixin label-textfield {
  @include text-caption;
  @include text-nowrap;
  @include transition-normal(top);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: $color-secondary-text;
  line-height: 24px;
  opacity: 1;
  pointer-events: none;
  will-change: top;

  :placeholder-shown + & {
    top: 24px;
    opacity: 0;
  }
}
