@mixin text-base {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

@mixin text-regular {
  font-weight: 400;
}

@mixin text-medium {
  font-weight: 600;
}

@mixin text-display {
  font-size: 34px;
}

@mixin text-headline {
  font-size: 24px;
}

@mixin text-title {
  font-size: 20px;
  font-weight: 600;
}

@mixin text-body {
  font-size: 16px;
}

@mixin text-button {
  font-size: 16px;
  font-weight: 600;
}

@mixin text-caption {
  font-size: 14px;
}

@mixin text-nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
